body {
}

.country p {
    color: var(--grey);
}

.country-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.8;
    border-radius: 5px;
}

.country {
    margin-bottom: 5%;
    width: 20vw;
    height: 85vh;
    margin: 10px;
    padding: 15px;
    min-width: 100px;
    margin: auto;
    margin-bottom: 20px;
}

.mini-ruler {
    height: 2px;
    width: 3vw;
    background-color: var(--orange);

}

.title {
    margin: auto;
    margin-top: 5%;
    width: 45vw;
    text-align: center;
    margin-bottom: 6%;
    display: flex;
    height: 10vh;


}

h1 {
    font-size: 80px;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

.vert-ruler {
    height: 13vh;
    width: 1%;
    background-color: var(--orange);
    margin: auto;
}

.subtitle {
    text-align: left;
    margin: 10px;
    width: 30%;
    min-width: 200px;

}

.subtitle h4 {
    font-size: 18px;
    margin: 0;
    
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Create two rows with flexbox */
.row {
    border: 2px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Add rounded corners for a rectangle effect */
}

/* Style each column */
.column {
    flex-basis: calc(50% - 10px); /* 50% width with some margin between columns */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style headers and paragraphs */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    line-height: 1.4;
}